.gray-list-content
  .container.margin-b20.info-show-content
    - @items.each do |item|
      .row.col-md-12.white-show-content.margin-t20
        .case-info-list.circle-img.margin-t20
          = image_tag item.pc_image || '', title: item.title, alt: item.title, class: 'left-img circle-img d-none d-sm-block'
          = image_tag item.mobile_image || '', title: item.title, alt: item.title, class: 'left-img circle-img d-sm-none'
          .right-content
            .title.margin-t20
              %span.teacher-name= item.title
            .content.margin-t10= item.description