.white-list-content
  background-color: white
  padding: 0px
  padding-bottom: 2%
  padding-top: 2%

.gray-list-content
  background-color: $lijia-bg-gray
  padding: 0px
  padding-bottom: 2%
  padding-top: 2%


.service-list-content
  background-image: asset-url('home/service-bg.png')
  -moz-background-size: 100% 100%
  -webkit-background-size: 100% 100%
  -o-background-size: 100% 100%
  background-size: 100% 100%
  padding-bottom: 2%
  padding-top: 2%
  background-repeat: no-repeat
  width: 100%

.red-reverse-bg
  color: white
  background: $lijia-left-red !important
  background: -webkit-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -moz-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -ms-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -o-linear-gradient(right,$lijia-left-red,$lijia-right-red) !important
  background: linear-gradient(to right,$lijia-left-red,$lijia-right-red) !important


.btn-span
  border-radius: 20px
  padding: 5px 5px
  min-width: 100px
  display: inline-block
  text-align: center




.line-title
  color: $lijia-font
  text-align: center
  display: inline-block
.line-title:before
  content: ""
  width: 10px
  border-top: 2px solid $lijia-font
  display: inline-block
  vertical-align: middle
.line-title:after
  content: ""
  width: 10px
  border-top: 2px solid $lijia-font
  display: inline-block
  vertical-align: middle
.line-title:before
  margin-right: 5px

.line-title:after
  margin-left: 5px

.title-font
  font-weight: bold
  display: inline-block
  font-size: 200%


.gray-text
  color: $lijia-font-gray

.center-text
  text-align: center
.center-img
  text-align: center
  img
    max-width: 100%
.rigth-span
  float: right

.font-18px
  font-size: 18px

.font-small
  font-size: 80%

.padding-lr30
  padding-left: 30px
  padding-right: 30px

.margin-t5
  margin-top: 5px

.margin-t10
  margin-top: 10px

.margin-t20
  margin-top: 20px

.margin-b20
  margin-bottom: 20px
