.white-list-content
  background-color: white
  padding: 0px
  padding-bottom: 2%
  padding-top: 2%

.white-show-content
  background-color: white
  border-radius: 10px
  color: $lijia-font
  padding: 30px

.gray-list-content
  background-color: $lijia-bg-gray
  padding: 0px
  padding-bottom: 2%
  padding-top: 2%


.service-list-content
  background-image: asset-url('home/service-bg.png')
  -moz-background-size: 100% 100%
  -webkit-background-size: 100% 100%
  -o-background-size: 100% 100%
  background-size: 100% 100%
  padding-bottom: 2%
  padding-top: 2%
  background-repeat: no-repeat
  width: 100%

.red-reverse-bg
  color: white
  background: $lijia-left-red !important
  background: -webkit-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -moz-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -ms-linear-gradient(right,$lijia-left-red, $lijia-right-red) !important
  background: -o-linear-gradient(right,$lijia-left-red,$lijia-right-red) !important
  background: linear-gradient(to right,$lijia-left-red,$lijia-right-red) !important


.btn-span
  border-radius: 20px
  padding: 5px 5px
  min-width: 100px
  display: inline-block
  text-align: center

.red-span
  background-color: $lijia-right-red
  padding: 2px 5px
  border-radius: 20px
  text-align: center
  color: white

.gray-shadow
  -moz-box-shadow: 1px 1px 5px #dddddd
  -webkit-box-shadow: 1px 1px 5px #dddddd
  box-shadow: 1px 1px 10px #dddddd

.red-shadow
  -moz-box-shadow: 1px 1px 5px $lijia-red
  -webkit-box-shadow: 1px 1px 5px $lijia-red
  box-shadow: 1px 1px 5px $lijia-red

.line-title
  color: $lijia-font
  text-align: center
  display: inline-block
.line-title:before
  content: ""
  width: 10px
  border-top: 2px solid $lijia-font
  display: inline-block
  vertical-align: middle
  margin-right: 5px
.line-title:after
  content: ""
  width: 10px
  border-top: 2px solid $lijia-font
  display: inline-block
  vertical-align: middle
  margin-left: 5px


.line-white-title
  color: white
  text-align: center
  display: inline-block
.line-white-title:before
  content: ""
  width: 10px
  border-top: 2px solid white
  display: inline-block
  vertical-align: middle
  margin-right: 5px
.line-white-title:after
  content: ""
  width: 10px
  border-top: 2px solid white
  display: inline-block
  vertical-align: middle
  margin-left: 5px

.title-font
  font-weight: bold
  display: inline-block
  font-size: 200%


.gray-text
  color: $lijia-font-gray

.red-text
  color: $lijia-red

.white-text
  color: white

.center-text
  text-align: center
.center-img
  text-align: center
  img
    max-width: 100%

.banner-list-content
  position: relative
  .center-title
    font-size: 26px
    position: absolute
    top: 35%
    width: 100%

  .banner-img
    max-width: 100%

.with-icon-span
  position: relative
  padding-left: 20px
  .left-icon
    position: absolute
    top: 1px
    left: 0

.desc-content
  margin: 20px 0

.title
  font-size: 16px


.current-price
  font-size: 200%

.rigth-span
  float: right

.font-18px
  font-size: 18px

.font-small
  font-size: 80%

.padding-0px
  padding: 0px

.md-32width
  max-width: 32%

.padding-lr30
  padding-left: 30px
  padding-right: 30px

.margin-l5
  margin-left: 5px

.margin-l15
  margin-left: 15px

.margin-nt100
  margin-top: -100px

.margin-t5
  margin-top: 5px

.margin-t10
  margin-top: 10px

.margin-t20
  margin-top: 20px

.margin-b10
  margin-bottom: 10px

.margin-b20
  margin-bottom: 20px
