.service-image-list-content
  background-color: white
  border-radius: 10px
  text-align: left
  color: $lijia-font
  display: inline-block
  .service-info-image
    width: 100%
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  .service-info-content
    padding: 1rem
    position: relative
    padding-bottom: 1.5rem
    .title
      font-size: 18px
      height: 30px
      overflow: hidden
    .desc
      height: 105px
      overflow: hidden