.service-image-list-content
  background-color: white
  border-radius: 10px
  text-align: left
  color: $lijia-font
  display: inline-block
  .service-info-image
    width: 100%
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  .service-info-content
    padding: 1rem
    position: relative
    padding-bottom: 1.5rem
    .title
      height: 30px
      overflow: hidden
    .desc
      height: 105px
      overflow: hidden

.course-image-list-content
  text-align: left
  color: $lijia-font
  display: inline-block
  max-width: 49%
  .info-image
    width: 100%
  .info-content
    padding: 1rem
    border-radius: 5px
    background-color: white
    margin-top: -50px
    z-index: 100
    display: inline-block
    width: 90%
    margin-left: 5%
    .title
      height: 30px
      overflow: hidden
