.swiper-container.pc-slideshows-swiper
  .swiper-wrapper
    - @slideshows.each do |item|
      .swiper-slide
        %a{href: ''}
          %img{src: item.pc_image, style: 'width: 100%', title: item.title, alt: item.title}
  .swiper-pagination.pc-swiper-pagination

.white-list-content
  .center-img
    = image_tag('home/youshi.png', title: '莉家整理优势', alt: "莉家整理六大核心优势")

:javascript
  $(document).ready(function(){
    Lijiaweb.SwiperLijia.init();
  });
