@media (max-width: 767px)
  .mb-padding-0px
    padding: 0px
  .mb-padding-10px
    padding: 10px
  .mb-margin-t20
    margin-top: 20px
  .margin-nt100
    margin-top: -10px

  .line-white-title
    font-size: 16px