@media (max-width: 767px)
  .hidden-xs
    display: none !important


  .service-image-list-content
    .service-info-content
      .desc
        height: 45px
  .course-image-list-content
    max-width: 100%
    .info-content
      .right-span
        top: 53%
      .title
        height: 25px

  .good-image-list-content
    max-width: 48%
    margin-left: 1%