%li.nav-item
  = link_to '订单收款', admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(index).include?(params[:action]) and @order.blank?}"

%li.nav-item
  = link_to '在线退款', reimbursement_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(reimbursement).include?(params[:action])}"


  